* {
	text-decoration:none;
	color: #eee8d5;
}

p {
	background-color: #00151a;
}

body {
	margin: 2% 18% 0% 18%;
	background-color: #586e75;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid #fdf6e3;
}

th, td {
	padding: 8px;
}

hr {
	border: 1px solid #fdf6e3;
}

/*
.circleHead{
	align: center;
	background-color: #00151a;
	border-radius: 50%;
	width:400px;
	height:400px;
}
.circleText{
	position:inherit;
	bottom: 50%;
	width:100%;
	text-align: center;
}
*/
.navBar{
	table-layout:fixed;
	text-align:center;
	width:100%;
}

.navBar tr,.navBar td{
	border:0;
}

.navButton:hover{
	font-weight: bold;
	color:#fff8d5;
}

.rightalign {
	float: right;
	border-radius: 50%;
	width:15%;
}
.rightalign2 {
	float: right;
	border-radius: 50%;
	width:10%;
}

.bold {
	font-weight: bold;
}

.score {
	text-decoration: line-through;
}

a:active{
	color: #00151a;
}

a:hover {
	color: #efefef;
}
